html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg);
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --bg: #141414;
  --box_bord: #C8C8C8;
  --key: #646464;
  --text: #C8C8C8;
  --text1: #ff0000;
  --opacity: 25%;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--BOXCOLS), 1fr);
  grid-template-rows: repeat(var(--BOXROWS), 1fr);
  row-gap: 15px;
  column-gap: 6px;
  max-width: 90vw;
  max-height: 80vh;
}

.box {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vmin; /* Adjusted for responsiveness */
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.key {
  background-color: var(--key);
  border: 1px solid var(--box_bord);
  color: var(--text);
}

.nokey {
  background-color: var(--bg);
  border: 1px solid var(--box_bord);
  color: var(--text);
}

.trans_key {
  background-color: var(--key);
  border: 1px solid var(--box_bord);
  opacity: var(--opacity);
  color: var(--text);
}

.trans_nokey {
  background-color: var(--bg);
  border: 1px solid var(--box_bord);
  opacity: var(--opacity);
  color: var(--text);
}

.blank {
  background-color: var(--bg);
}

.key1 {
  background-color: var(--key);
  border: 1px solid var(--box_bord);
  color: var(--text1);
}

.nokey1 {
  background-color: var(--bg);
  border: 1px solid var(--box_bord);
  color: var(--text1);
}

.trans_key1 {
  background-color: var(--key);
  border: 1px solid var(--box_bord);
  opacity: var(--opacity);
  color: var(--text1);
}

.trans_nokey1 {
  background-color: var(--bg);
  border: 1px solid var(--box_bord);
  opacity: var(--opacity);
  color: var(--text1);
}

#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 50px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.key-btn {
  background-color: var(--key);
  border: 1px solid var(--box_bord);
  color: var(--text);
  font-size: 2.5vmin; /* Adjusted for responsiveness */
  padding: 10px;
  cursor: pointer;
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.key-btn:active {
  background-color: var(--box_bord);
}
