html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg);
  flex-direction: column;
  box-sizing: border-box;
}

:root {
  --bg: #141414;
  --box_bord: #C8C8C8;
  --key: #646464;
  --text: #C8C8C8;
  --text1: #ff0000;
  --opacity: 25%;
  --bord_size: 1px;
  --bord_radius: 5px;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--BOXCOLS), 3vw); /* Set the width of each column to 3vw */
  grid-template-rows: repeat(var(--BOXROWS), 50px);
  row-gap: 15px;
  column-gap: 6px;
  max-height: 800px;
}

.box {
  display: flex;
  width: 3vw; /* Set the width of each box to 3vw */
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw; /* Set the font size relative to the width of the boxes */
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border-radius: var(--bord_radius);
}


.key {
  background-color: var(--key);
  border: var(--bord_size) solid var(--box_bord);
  color: var(--text);
}

.nokey {
  background-color: var(--bg);
  border: var(--bord_size) solid var(--box_bord);
  color: var(--text);
}

.trans_key {
  background-color: var(--key);
  border: var(--bord_size) solid var(--box_bord);
  opacity: var(--opacity);
  color: var(--text);
}

.trans_nokey {
  background-color: var(--bg);
  border: var(--bord_size) solid var(--box_bord);
  opacity: var(--opacity);
  color: var(--text);
}

.blank {
  background-color: var(--bg);
}

.key1 {
  background-color: var(--key);
  border: var(--bord_size) solid var(--box_bord);
  color: var(--text1);
}

.nokey1 {
  background-color: var(--bg);
  border: var(--bord_size) solid var(--box_bord);
  color: var(--text1);
}

.trans_key1 {
  background-color: var(--key);
  border: var(--bord_size) solid var(--box_bord);
  opacity: var(--opacity);
  color: var(--text1);
}

.trans_nokey1 {
  background-color: var(--bg);
  border: var(--bord_size) solid var(--box_bord);
  opacity: var(--opacity);
  color: var(--text1);
}


#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 50px;
}



.keyboard-row {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.key-btn {
  background-color: var(--key);
  border: 1px solid var(--box_bord);
  color: var(--text);
  font-size: 1.5vw; /* Set the font size relative to the width of the keyboard buttons */
  padding: 10px;
  cursor: pointer;
  width: 3vw; /* Set the width of each keyboard button to 3vw */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--bord_radius);
}

.key-btn:active {
  background-color: var(--box_bord);
}


.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.popup-content {
  color: white;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}


